body{
    font-family: fira-sans inter;
    background-color: #121212;
    color: white;
}
.mask-bottom-circle{
    clip-path: ellipse(600px 740px at center top);
}
.mask-bottom-center{
    clip-path: ellipse(1200px 865px at center top)
}
.selected-project:hover{
    .bottom-section{
        transform: translateY(0);
    }

}
