body{
    font-family: fira-sans inter;
    background-color: #121212;
    color: white;
}
.mask-bottom-circle{
    clip-path: ellipse(600px 740px at center top);
}
.mask-bottom-center{
    clip-path: ellipse(1200px 865px at center top)
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%); /* move half width because you duplicated logos */
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;

  animation-play-state: running;
}
.animate-scroll:hover {
    animation-play-state: paused;
}

